<ul role="list" [attr.aria-label]="'app.title' | translate" class="space-y-3">
  @for (todo of todos(); track todo.id) {
  <li [@fadeSlideIn]>
    <app-todo-item [todo]="todo" (toggled)="toggled.emit($event)" (deleted)="deleted.emit($event)"
      (edited)="edited.emit($event)" />
  </li>
  } @empty {
  <li class="text-center py-16 text-surface-400 dark:text-surface-500">
    <p class="text-lg font-medium">{{ 'todo.no_tasks' | translate }}</p>
    <p class="text-sm mt-1">{{ 'todo.no_results' | translate }}</p>
  </li>
  }
</ul>